<app-nav-header></app-nav-header>
<div class="container">
    <section class="section" id="aboutUs">
        <h2><strong><span style="text-align:center;display :block">Inspiration Ignited - Connecting Every
                    Day</span></strong></h2>
        <p>Welcome to R-Mall Center!</p>
        <p>At R-Mall, we take pride in being the premier destination for shopping and entertainment for both the local
            community and visitors alike. With a diverse mix of shops, restaurants, and entertainment activities, we are
            committed to providing a first-class shopping experience and a variety of entertainment options for every
            member of the family.</p>
        <p>At R-Mall, it's not just a place to shop, but also an ideal destination to experience a rich culinary
            journey. From international cuisines to local specialties, the restaurants at R-Mall are always ready to
            serve with dedication and top-notch quality. </p>
        <p>In addition, we also offer a variety of entertainment activities, from state-of-the-art cinemas to children's
            play areas. With such diversity and richness, everyone has the opportunity to find something they love at
            R-Mall.</p>
        <p>With a commitment to providing the best shopping and entertainment experience, R-Mall hopes to become
            everyone's favorite destination, where memories are made and joy is shared.</p>
        <p>Come and explore R-Mall today to experience our diversity and richness!</p>
        <p><strong>R-Mall CENTER</strong></p>
        <p><strong>Trend icon - Trendy style</strong></p>
        <p>R-Mall Center is located in prime locations in large, densely populated cities in Vietnam such as Hanoi and
            Ho Chi Minh City. With famous domestic and international brands, R-Mall Center is the choice of
            stylish customers
            and class.</p>
        <div class="img">
            <img alt="R-Mall Center" src="../../assets/Image/home/aboutUs1.jpg" style="max-width:100%;height:auto;">
            <div style="text-align:center;display :block">Image of shopping center R-Mall Center
                Landmark 81 at the tallest building in Vietnam Landmark 81.
            </div>
        </div>
        <p></p>
        <p><strong>R-Mall MEGA MALL</strong></p>
        <p><strong>International experience - Connecting generations</strong></p>
        <p>R-Mall Mega Mall targets middle- and high-end audiences with attractive locations in large urban complexes.
            Large model with modern style. With hundreds of international brands, millions of products and divisions
            entertainment - food, translation
            Large and unique service. R-Mall Mega Mall has a mission to inspire and create an active lifestyle.
        </p>
        <!-- <p><span style="text-align:center;display :block"><img alt="R-Mall Mega Mall"
                    src="../../assets/Image/home/home3.webp"
                    style="max-width:100%;height:auto; ">Hình ảnh TTTM <a href="">R-Mall Mega Mall Times City</a> - Siêu
                TTTM liên hoàn dưới tầng ngầm lớn thứ 2 tại Việt Nam. </span></p> -->
        <div class="img">
            <img alt="R-Mall Center" src="../../assets/Image/home/aboutUs2.jpg" style="max-width:100%;height:auto;">
            <div style="text-align:center;display :block">The image of R-Mall Mega Mall Times City - the second largest
                underground shopping mall complex in Vietnam.
            </div>
        </div>
        <p></p>
        <p><strong>R-Mall PLAZA</strong></p>
        <p><strong>A gathering place for joy - United community.</strong></p>
        <p>With the aim of bringing modern consumer culture to young cities and suburban areas of Hanoi and Ho Chi Minh
            City, each R-Mall Plaza is a community-centric hub that serves as the focal point for shopping and
            experiences for residents in their respective cities.</p>
        <!-- <p><img alt="R-Mall Plaza"
                src="../../assets/Image/home/home3.webp"
                style="max-width:100%;height:auto; "><span style="text-align:center;display :block">Hình ảnh TTTM <a
                    href="">R-Mall Plaza Imperia</a> - "Nóc nhà" Đông Bắc Bộ, sở hữu tầm nhìn trọn vẹn bao quát 360 độ
                thành phố Cảng</span><br> </p> -->
        <div class="img">
            <img alt="R-Mall Center" src="../../assets/Image/home/aboutUs3.jpg" style="max-width:100%;height:auto;">
            <div style="text-align:center;display :block">The image of Vincom Plaza Imperia - The 'Roof' of the
                Northeastern region, boasting a panoramic 360-degree view of the Port City.
            </div>
        </div>
        <p><strong>R-Mall+</strong></p>
        <p><strong>Friendly meeting point - Convenient every day.</strong></p>
        <p>R-Mall+ is on a mission to serve residents living in districts, towns, and townships - areas where the retail
            market is undergoing development..</p>
        <div class="img">
            <img alt="R-Mall Center" src="../../assets/Image/home/home3.webp" style="max-width:100%;height:auto;">
            <div style="text-align:center;display :block">The image of R-Mall Retail, R-Group's biggest shopping mall
                operator.
            </div>
        </div>
    </section>

</div>
<app-footer></app-footer>