<div class="card">
    <div class="card-body" *ngIf="type">
        <div class="row mb-3">
            <div class="col-sm-3">
                <div>{{response.error.nameError}}</div>
                <h6 class="mb-0">Type Name: </h6>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="response">
                <div><sup>{{response.error.nameError}}</sup></div>
                <input type="text" class="form-control" [(ngModel)]="type.name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Image Url: </h6>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="response">
                <div><sup>{{response.error.imageError}}</sup></div>
                <input type="text" class="form-control" [(ngModel)]="type.image">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 text-secondary" *ngIf="!response.isModified">
                <input type="button" class="btn btn-primary px-4" value="Save Changes" (click)="editType()">
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="response.isModified">
                <div><sup>Type edit successfully</sup></div>
                <input type="button" class="btn btn-primary px-4" value="Turn Back"
                    routerLink="/redirectDashboard">
            </div>
        </div>
    </div>
</div>