<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> <sup>R-</sup>Mall</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="a">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Products
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/category" aria-expanded="true" routerLinkActive="a">
            <span>Categories</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/shop" routerLinkActive="a">
            <span>Shop</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/product" routerLinkActive="a">
            <span>Products</span>
        </a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Movie Theater
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/genre" routerLinkActive="a">
            <span>Genres</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/theater" routerLinkActive="a">
            <span>Theaters</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/movie" routerLinkActive="a">
            <span>Movies</span>
        </a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        User Management
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/user" routerLinkActive="a">
            <span>Users</span>
        </a>
    </li>
</ul>