<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Type Name: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="name">
                <div><sup>{{response.error.nameError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Image Url: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="image">
                <div><sup>{{response.error.imageError}}</sup></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 text-secondary" *ngIf="!response.isModified">
                <div><sup>{{response.error.existedError}}</sup></div>
                <input type="button" class="btn btn-primary px-4" value="Save Changes" (click)="create()">
            </div>

            <div class="col-sm-9 text-secondary" *ngIf="response.isModified">
                <div><sup>Type create successfully</sup></div>
                <input type="button" class="btn btn-primary px-4" value="Turn Back" routerLink="/redirectDashboard">
            </div>
        </div>
    </div>
</div>