<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Shop Name: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="name">
                <div><sup>{{response.error.nameError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Image Url: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="logo">
                <div><sup>{{response.error.logoError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Email: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="email">
                <div><sup>{{response.error.emailError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Phone: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="phone">
                <div><sup>{{response.error.phoneError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Address: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="address">
                <div><sup>{{response.error.addressError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Description: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <textarea class="form-control" [(ngModel)]="description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 text-secondary" *ngIf="!response.isModified">
                <input type="button" class="btn btn-primary px-4" value="Save Changes" (click)="create()">
                <div><sup>{{response.error.existedError}}</sup></div>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="response.isModified">
                <div><sup>Shop create successfully</sup></div>
                <input type="button" class="btn btn-primary px-4" value="Turn Back"
                    routerLink="/redirectShop">
            </div>
        </div>
    </div>
</div>