<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Movie Name: </h6>
            </div>
            <div class="col-sm-9 text-secondary"*ngIf="movie">
                <input type="text" class="form-control" [(ngModel)]="movie.name">
                <div><sup>{{response.error.nameError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Description: </h6>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="movie">
                <textarea class="form-control" [(ngModel)]="movie.description"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Price: </h6>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="movie">
                <input type="number" class="form-control" [(ngModel)]="movie.price">
                <div><sup>{{response.error.priceError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Image Url: </h6>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="movie">
                <input type="text" class="form-control" [(ngModel)]="movie.image">
                <div><sup>{{response.error.imageError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Shop: </h6>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="movie">
                <select class="form-control w-25" aria-label=".form-select-lg example" [(ngModel)]="shopId">
                    <ng-container *ngFor="let shop of shops">
                        <option [value]="shop.id">{{shop.name}}</option>
                    </ng-container>
                </select>
                <div><sup>{{response.error.shopError}}</sup></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Shop: </h6>
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="movie">
                <select class="form-control w-25" aria-label=".form-select-lg example" [(ngModel)]="genreId">
                    <ng-container *ngFor="let genre of genres">
                        <option [value]="genre.id">{{genre.name}}</option>
                    </ng-container>
                </select>
                <div><sup>{{response.error.genreError}}</sup></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 text-secondary" *ngIf="!response.isModified">
                <div><sup>{{response.error.existedError}}</sup></div>
                <input type="button" class="btn btn-primary px-4" value="Save Changes" (click)="editMovie()">
            </div>
            <div class="col-sm-9 text-secondary" *ngIf="response.isModified">
                <div><sup>Movie create successfully</sup></div>
                <input type="button" class="btn btn-primary px-4" value="Turn Back"
                    routerLink="/redirectMovie">
            </div>
        </div>
    </div>
</div>