<div class="card">
    <div class="card-body" *ngIf="response">
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Shop Name: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{response.name}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Email: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{response.email}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Phone: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{response.phone}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Address: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{response.address}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Status: </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{response.active ? 'Active': 'Disable'}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 text-secondary">
                <input type="button" class="btn btn-primary px-4" value="Edit" routerLink="/shop/{{response.id}}/edit">
            </div>
        </div>
        <div class="img">
            <img [src]="response.logo" [alt]="response.name">
        </div> 
    </div>
</div>